body {
}

.post {
    padding-top: 8.3333%;
    margin: 0 8.3333% 10%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.post-header {
    padding: 0 10%;
}

.post-content {
    padding: 5% 10% 10%;
}

.post-footer {
    padding: 5% 10%;
    background-color: #f7f7f7;
}


.post-on, .cataegory-link, .comments-link {
    margin-right: 1em;
}

   


